/* CSS Document */

/*
	RESET CSS
*/
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body {background: url(../images/background.jpg) center top no-repeat; font-family: arial, helvetica, sans-serif; font-size: 11px;}

/*
	TYPOGRAPHY
*/
h1, h2, h3, h4, h5 {}
a img { border: 0; }
a {text-decoration: none;}

/****** TOP ******/
#wrapper {margin: 0px auto; width: 1000px;}
#top {width: 100%; height: 38px; background-color: #4a4a4a; overflow: hidden;}
#language {float: right; width: 150px; padding-top: 8px; overflow: hidden;}
#language h3 {float: left; color: #b3adad; padding: 0 5px 0 0;}
#language a {display: block; float: left; padding: 0 5px;}
#search {width: 370px; height: 32px; float: right; background: url(../images/top_search_bg.gif) no-repeat center top; margin-right: 20px; overflow: hidden;}
#search a {display: block; float: left; width: 110px; color: #999; padding: 8px 0 0 15px;}
#txtSearch {width: 182px; height: 18px; margin-top: 5px; float: left; border: 1px solid #dbdbdb; border-bottom-color: white; border-right-color: white; }
#imgSearch {float: left; padding: 2px 0 0 15px;}

/****** HEADER ******/
#header {background: url(../images/header_bg.jpg) no-repeat top center; width: 100%; height: 173px; overflow: hidden;}
#header h1 a {display: block; float: left; width: 237px; height: 140px; background: url(../images/logo.png) no-repeat top center; text-indent: -99999px; margin: 15px;}
#slider {float: left; width: 600px; height: 164px; padding: 0 0 0 50px;}
.slide-divider {display:block; float: left; width: 1px; height: 164px;}
#slide-content {float: left; width: 538px; padding: 15px 30px 0 30px; overflow: hidden;}
#slide-content img {display: block; float: left; padding: 0 0 10px 0;}
#slide-detail {float: left;width: 400px; padding: 0 0 0 30px;}
#slide-detail h3 a {display: block; font-size: 15px; color: #b72c24; font-weight: bold;}
#slide-detail p {padding: 5px 0; font-size: 12px; color: #fff; text-align: justify; line-height: 15px;}
#detail {width: 83px; height: 21px; display: block; float: right; padding-left: 15px; margin-top: 5px; background: url(../images/details_bt_bg.gif) no-repeat top center; text-align: center; line-height: 23px; color: #000;}
#pagination {padding-top: 10px; margin: 5px; text-align: center; float: left;}
#pagination a.active, #pagination a:hover, #pagination a:active {background: url(../images/pag_bg_a.gif) no-repeat top center; color: #ad1614;}
#pagination a {display: block; width: 22px; height: 22px; float: left; margin-right: 5px; line-height: 23px; text-align: center; background: url(../images/pag_bg.gif) no-repeat top center; color: #9d8b8b;}
